/node_modules
/public/storage
/public/css
/public/build
/public/js
/public/fonts
/public/images
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.lock
yarn-error.log
yarn.lock
database/migrations/2017_01_12_074017_create_jobs_table.php
app/Http/Controllers/IMController.php
routes/web.php
routes/web.php
