.idea
.DS_Store
.vscode
.vagrant
.plus.yml

composer.lock
yarn.lock
jpush.log

/config/component.php
/config/component_routes.php
/config/providers.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/views/vendor
/nbproject
/.vagrant
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
