.idea
.DS_Store
.env
.vagrant
.plus.yml

composer.lock
yarn.lock
yarn-error.log
npm-debug.log
Homestead.json
Homestead.yaml

/config/component.php
/config/component_routes.php
/config/providers.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
