.search_container {padding:20px 40px 40px 40px;background:#fff;}
.search_nav {width:100%;background:#fff;position:relative;}
.search_menu {width:100%;height:80px;float:left;margin:0;border-bottom:1px solid #ededed;}
.search_menu li {float:left;margin-right:40px;padding-top:26px;}
.search_menu li a {font-size:16px;display:inline-block;margin-top:-1px;padding-bottom:30px;color:#999;}
.search_menu li a:hover {color:#333 !important;/*border-bottom:2px solid #59b6d7;*/}
.search_menu .selected {color:#333 !important;/*border-bottom:2px solid #59b6d7;*/}
.search_box {position:absolute;float:right;right:0px;width:235px;height:36px;border-radius:50px;margin-top:22px;background-color:#f3f6f7;}
.search_box .search_input {width:calc(100% - 35px);height:100%;font-size:14px;color:#333;border:none;outline:none;background:transparent;padding-left:15px;vertical-align:middle;}
.search_box .search_icon {cursor:pointer;position:absolute;top:50%;right:10px;transform:translateY(-50%);color:#59b6d7;}
.zy_select {min-width:60px;}
.zy_select>ul >li {margin-left:0px;}
.news_item {padding:30px 0px;}
.news_word {width:455px;}
.search_container .q_c {overflow:hidden;border-bottom:1px solid #ededed;padding:30px 0 16px 0;width:100%;}
.search-button {line-height:31px;height:37px;margin-top:10px;}
.search-button a {height:35px;line-height:35px;background-color:#59b6d7;display:inline-block;margin:30px auto;border-radius:3px;color:#fff;border:0;padding:0 20px;}
/* 创建专题 */.topic-show {width:500px;}
.topic-show .topic-title {font-size:25px;margin-top:10px;margin-bottom:25px;text-align:center;}
.topic-show .topic-from-row {width:100%;margin-bottom:20px;}
.topic-show .topic-from-row>input {width:100%;height:45px;padding:0 15px;font-size:14px;line-height:30px;border:1px solid #ededed;color:#333;}
.topic-show .topic-from-row>textarea {width:100%;height:150px;padding:10px 15px;font-size:14px;line-height:25px;border:1px solid #ededed;color:#333;}
