.user_container {padding:20px 40px;background:#fff;}
.user_menu {width:100%;height:80px;margin:0;border-bottom:1px solid #ededed;}
.user_menu li {float:left;margin-right:40px;padding-top:26px;}
.user_menu li a {font-size:16px;display:inline-block;margin-top:-1px;padding-bottom:30px;color:#333;}
.user_menu li a:hover {color:#333 !important;border-bottom:2px solid #59b6d7;}
.user_menu .selected {color:#333 !important;border-bottom:2px solid #59b6d7;}
.user_filter .area_search {position:relative;}
.user_filter .search_input {border:0;width:235px;padding:7px 15px;padding-right:35px;border-radius:18px;background-color:#f3f6f7;}
.user_filter .search_icon {position:absolute;left:201px;top:5px;cursor:pointer;}
.user_filter .area_searching {position:absolute;background:#fff;width:500px;left:0;box-shadow:0 1px 22px #e2e0e0;margin-top:5px;}
.user_filter .area_searching a {display:inline-block;width:100%;height:35px;line-height:35px;float:left;cursor:pointer;text-indent:10px;}
.user_filter .area_searching a:hover {background:#ccc;}
.user_item {float:left;width:352px;height:190px;margin-top:30px;padding:30px 20px;border:1px solid #ededed;margin-right:30px;}
.user_item_right {margin-right:0px;}
.user_item:hover {border:1px solid #59b6d7 !important;}
.user_item .user_header {float:left;}
.user_header .role-icon {right:22px;bottom:-2px;}
.user_item .user_header .user_avatar {width:60px;height:60px;margin-right:20px;border-radius:50%;}
.user_item .user_body {float:left;width:200px;}
.user_item .user_body .user_name {font-size:16px;color:#333;}
.user_item .user_body .follow_btn {font-size:12px;line-height:22px;display:inline-block;float:right;width:60px;height:24px;cursor:pointer;text-align:center;color:#59b6d7;border:1px solid #59b6d7;border-radius:20px;}
.user_item .user_body .followed {color:#ccc;border:1px solid #ededed;}
.user_item .user_body .user_subtitle {font-size:12px;line-height:22px;display:-webkit-box;overflow:hidden;height:44px;margin-top:15px;color:#999;word-break:break-all;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.user_item .user_body .user_number {font-size:14px;margin-top:18px;color:#333;}
.user_item .user_body .user_number .user_num {display:inline-block;padding-right:15px;border-right:1px solid #ededed;}
.user_item .user_body .user_number .user_num span {display:inline-block;margin-left:5px;color:#59b6d7;}
.user_item .user_body .user_number .right {border-right:none;padding-left:12px;padding-right:0px;}
.userareNum {display:inline-block;margin-left:15px;color:#333;}
.fanList_bottom a {display:inline-block;float:left;margin-right:3px;}
.fanList_bottom a:last-child {margin-right:0;}
.fan_line {height:1px;margin:140px auto 20px;/* margin-top:200px;*/    background:#ededed;}
.fanList_bottom img {width:97px;height:97px;}
.c_ccc {color:#ccc !important;border:1px solid #ededed !important;}
.visitor_div {font-size:16px;line-height:80px;width:100%;height:80px;margin:0;padding-left:40px;color:#333;}
.visitor_div span {font-weight:bold;color:#59b6d7;}
