@prefixCls: rankItem;

.@{prefixCls} {
  &-info {
    width: 90%;
    display: inline-flex;
  }
  &-user-avatar {
    width: 76px;
    height: 76px;
    margin: 0;
  }
  &-title {
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    h6 {
      margin: 0;
      font-size: 30px;
      color: #333;
    }
    p {
      color: #999;
      font-size: 28px;
      margin: 10px 0 0 ;
    }
  }
}
